---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='driver.js'
  description='Vanilla JavaScript lightweight, high performance, and dependency-free library for creating interactive tours for web apps.'
>
  <div class='my-9 sm:my-16'>
    <img
      alt='driver.js'
      src='https://driverjs.com/driver-head.svg'
      class='mb-2 h-[80px] sm:mb-5 sm:h-[120px]'
    />
    <h1 class='text-xl font-semibold text-yellow-300 sm:text-3xl'>
      driver.js has a new home
    </h1>
    <p class='mb-3 mt-2 text-sm sm:my-3 sm:text-base'>
      I have massively refactored driver.js making it maintainable, fixing some
      major bugs, and adding new features. Visit the dedicated website at <a
        href='https://driverjs.com'
        target='_blank'
        class='text-yellow-300 underline decoration-2 underline-offset-2'
        >driverjs.com.</a
      >
    </p>
    <a
      href='https://driverjs.com'
      target='_blank'
      class='flex items-center justify-between rounded-md bg-yellow-400 p-2 text-sm text-black sm:text-base'
    >
      <span>Visit the new driver.js website</span>
      &rarr;
    </a>
  </div>
</Layout>
