---
import TestimonialCard from './TestimonialCard.astro';
---

<div class='mt-1 grid grid-cols-1 gap-4 sm:mt-2 md:grid-cols-2'>
  <div class='grid gap-4'>
    <TestimonialCard
      name='Fahim Kadhi'
      role='Head of MENA at Momos'
      avatar='/testimonials/faheem.jpeg'
      description={[
        'Kamran is a brilliant Dev Manager. There are very few Dev Managers that have the chops to dive down, get their hands dirty and build pretty much anything from ground up while at the same time can inspire and rally multiple teams towards a common goal. He is a rare gem in this region. His track record and social following (globally) is more than enough validation on the kind of operator he is. Any company he is with is fortunate to have someone of his caliber in the ranks.',
      ]}
    />
    <TestimonialCard
      name='Zain Ahmed Khan'
      role='Sr. Software Engineer at Sixt'
      avatar='/testimonials/zain.jpeg'
      description={[
        'I had the pleasure of working with Kamran for around an year in some of our most criticial and a heavy load products. Kamran was one of the core architects and worked as a lead on several internal products. He is deeply familiar with all the facets of designing, building and operating a scalable product. Kamran is a great manager, smart individual, highly professional, extremely result-driven, and a great mentor who is extremely highly regarded by his team. There was not a task that is impossible for him and his work is always commendable.',
      ]}
    />
    <TestimonialCard
      name='Abdallah Ebrahim'
      role='Staff Software Engineer at Huspy'
      avatar='/testimonials/abdallah.jpeg'
      description={[
        'Kamran is a brilliant, humble, and an amazing engineer and manager. I will not say much about his technical experience as his reputation speaks a lot. From the people and personal standpoint, I always felt safe, happy, and enjoying my job under his leadership. I would love to work with him again.',
      ]}
    />
  </div>
  <div class='grid gap-4'>
    <TestimonialCard
      name='Mohammed Essehemy'
      role='Engineering Manager at Tradeling'
      avatar='/testimonials/essehemy.jpeg'
      description={[
        "Kamran is a master. He has a unique mixture of skills that allow him to incubate an idea from the early stages to a final product. He can design the idea, fill the dots, jump to code and manage the changes to get a successful product. He's also a great manager. He listens a lot to his team and discusses the ideas and evaluates them wisely. It was a blessing to be managed by him. I owe him much and I wish him the best in his upcoming endeavors. Hopefully, we will work together again.",
      ]}
    />
    <TestimonialCard
      name='Adeel Ahsan'
      role='Director of Engg. at Almosafer'
      avatar='/testimonials/adeel.jpeg'
      description={[
        'Having worked with Kamran for 4 years at two different companies, I can say that he is one of the most talented engineers and managers I have ever worked with. There is no problem that he cannot solve, no challenge that he cannot overcome. He is a great mentor and a great leader. He is always there to help and guide his team. He is a great asset to any team and I would love to work with him again.',
      ]}
    />
    <TestimonialCard
      name='Martian Lee'
      role='Sr. Software Engr. at GraphCMS'
      avatar='/testimonials/martian.jpeg'
      description={[
        'If you know you are going to work with the developer who ranks 2nd in terms of most stars on Github, you will probably feel nervous. However, the opposite is true - Kamran makes the work enjoyable since he is so humorous and open-minded. The only thing you need to adapt is his speed and vast knowledge, which will definitely push you to a new level.',
      ]}
    />
  </div>
</div>
